{% extends "base.twig" %}

{% block logo %}
{% endblock %}

{% block content %}
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="content-wrapper">
                    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
                        <section class="article-content">
                            <div class="col-12 col-md-5">
                                <p class="littletitle">Bienvenue sur</p>
                                <h5>Focus!</h5>
                            </div>
                            <div class="col-12 col-md-9 offset-md-3">
                                <p>
                                    <div class="article-body">
                                        {{post.content}}
                                    </div>
                                </p>
                            </div>
                        </section>
                    </article>
                </div><!-- /content-wrapper -->
            </div>
        </div>
    </div>
{% endblock %}

{% block photographers %}
    <!-- start: photographer block -->
    <article class="photographers-block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="">dernier ajouts</h2>
                </div>
            </div>
        </div>        
        <section class="trendingphotographer">
            <div class="container">
                {% if photographer %}
                    <div class="row">
                        {% for profile in photographer %}
                            {% include 'partial/photographer-gallery.twig' %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section> 
    </article>
    <!-- end: photographer block -->
{% endblock %}

{% block popular %}
    <!-- start: popular photographer block -->
    <section class="trendingphotographer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="">photographes populaires</h2>
                </div>
            </div>
            {% if popular %}
                <div class="row">
                    {% for profile in popular %}
                        {% include 'partial/photographer-gallery.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
    <!-- end: popular photographer block -->
{% endblock %}

{% block categories %}
    <!-- start: categorie block -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="">catégories populaires</h2>
            </div>
        </div>
    </div>
    <section class="trendingcategories">
        <div class="container">
            {% if photo_types %}
                {% for photo_type in photo_types %}
                    {% include 'partial/categorie-gallery.twig' %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <!-- end: categorie block -->
{% endblock %}